.outerdiv
{
  /* width: 29.7cm;
  height: 19cm;
 
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 16; */
}
.maincss{
  
  page-break-before:always;
	background-image:url(../Cheq.jpg);
	background-repeat:no-repeat;
  margin-top: 250px;
  margin-left: 5px;
	background-position:center;
	background-size:cover;
	height:385px; 
	width:1086px;
    /* margin-left: 40px; */
    position:relative;
    /* border: 1px solid black; */
    page-break-after: always;
    font-size: 14px;
    font-weight: 700px;
    
    
	
}

.project {
  position:absolute;
  display:inline;
  top: 105px;
  left: 190px;
  
}

.datep {
  position:absolute;
  display:inline;
  top: 141px;
  left: 80px;
  
}
.datem {
    position:absolute;
    display:inline;
    top: 141px;
    left: 960px;
    
  }

  .payto {
    position:absolute;
    display:inline;
    top: 217px;
    left: 516px;
    
  }

  .rupees {
    position:absolute;
    display:inline;
    top: 240px;
    left: 516px;
    
  }
  .rs {
    position:absolute;
    display:inline;
    top: 340px;
    left: 502px;
    
  }

  .asgno {
    position:absolute;
    display:inline;
    top: 44px;
    left: 930px;
    
  }

  .pbm {
    position:absolute;
    display:inline;
    top: 121px;
    left: 421px;
    font-weight: 750;
    font-size: 18px;
    border: 1px solid black ;
    
  }

  
  .stamp {
    position:absolute;
    display:inline;
    top: 160px;
    left: 697px;
    font-weight: 650;
    font-size: 13px;
    border: 1px solid black ;
    
  }
  .pay2p {
    position:absolute;
    display:inline;
    top: 197px;
    left: 65px;
    width: 200px;
    
    
  }
  .rsp {
    position:absolute;
    display:inline;
    top: 255px;
    left: 120px;
   
  }
  
  .cross {
    position:absolute;
    display:inline;
    font-weight: 700;
    text-decoration: underline;
    top: 36px;
    left: 372px;
    transform: rotate(310deg);
    
     /* text-orientation: sideways; */
   
  }

  .crossline {
    position:absolute;
    display:inline;
    font-weight: 800;
   
    top: 150px;
    left: 473px;
    
    
     /* text-orientation: sideways; */
   
  }

/* CSS Document */

