.maincss{

	background-image:url(../Cheq.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	height:385px; 
	width:1086px;
    margin-left: 40px;
    position: relative;
    border: 1px solid black;
    
	
}

.datep {
  position:absolute;
  display:inline;
  top: 141px;
  left: 103px;
  
}
.datem {
    position:absolute;
    display:inline;
    top: 142px;
    left: 935px;
    
  }

  .payto {
    position:absolute;
    display:inline;
    top: 210px;
    left: 516px;
    
  }

  .rupees {
    position:absolute;
    display:inline;
    top: 233px;]
    left: 516px;
    
  }
  .rs {
    position:absolute;
    display:inline;
    top: 323px;
    left: 502px;
    
  }

  .asgno {
    position:absolute;
    display:inline;
    top: 44px;
    left: 894px;
    
  }

  .pbm {
    position:absolute;
    display:inline;
    top: 121px;
    left: 421px;
    font-weight: 800;
    font-size: 20px;
    
  }
  .pay2p {
    position:absolute;
    display:inline;
    top: 197px;
    left: 112px;
    width: 200px;
    
    
  }
  .rsp {
    position:absolute;
    display:inline;
    top: 250px;
    left: 120px;
   
  }

/* CSS Document */

